<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @shisha.name %>
</p>

<p>
  <b>Address:</b>
  <%= @shisha.address %>
</p>

<p>
  <b>Latitude:</b>
  <%= @shisha.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @shisha.longitude %>
</p>

<p>
  <b>Description:</b>
  <%= @shisha.description %>
</p>

<p>
  <b>Contact:</b>
  <%= @shisha.contact %>
</p>

<p>
  <b>Url:</b>
  <%= @shisha.url %>
</p>

<p>
  <b>Flavours:</b>
  <%= @shisha.flavours %>
</p>

<p>
  <b>Hours:</b>
  <%= @shisha.hours %>
</p>

<p>
  <b>Facilities:</b>
  <%= @shisha.facilities %>
</p>

<p>
  <b>Image1:</b>
  <%= @shisha.image1 %>
</p>

<p>
  <b>Image2:</b>
  <%= @shisha.image2 %>
</p>

<p>
  <b>Image3:</b>
  <%= @shisha.image3 %>
</p>

<p>
  <b>Image4:</b>
  <%= @shisha.image4 %>
</p>

<p>
  <b>Isdetailed:</b>
  <%= @shisha.isDetailed %>
</p>


<%= link_to 'Edit', edit_shisha_path(@shisha) %> |
<%= link_to 'Back', shishas_path %>
